.sidenav {
  position: fixed;
  top: 100px;
  width: 300px;
  height: 100vh;
  border-right: .5px solid rgba(0, 0, 0, 0.5);

  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    button {
      margin: .5rem 0;
      padding: .5rem;
      font-size: 1.5em;
    }
  }
}


