<div class="global-container row">
  <h1>Mes Videos 🎥</h1>
  <div class="row">
    <button mat-flat-button *ngFor="let video of videos ; let i = index" (click)="detail(video.id)">
      <mat-card >
        <mat-card-header>
          <mat-card-title>{{video.videoTitle}}</mat-card-title>
        </mat-card-header>
        <iframe width="500" height="315" [src]="embedVideos[i] | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </mat-card>
    </button>
  </div>
</div>
